WB_API_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjYwMzAydjEiLCJ0eXAiOiJKV1QifQ.eyJhY2MiOjEsImVudCI6MSwiZXhwIjoxNzk0NTI1Njk4LCJpZCI6IjAxOWUyNjM4LTgyOWEtNzE3Yy05YTA3LWM1NzY5YjgwYjBkNiIsImlpZCI6Mjc1MzY5NzcsIm9pZCI6MTM0NDM3NSwicyI6MTA3Mzc1Nzk1MCwic2lkIjoiNTAwZTg0NTktYzgzZC00NTA3LWJiMjMtNjgzZTBiYzk5MmY3IiwidCI6ZmFsc2UsInVpZCI6Mjc1MzY5Nzd9.mvRIUqiZ4qX9KRG0qAos3nvxT3VgnBxCMBtIIpCS8FN_LrJgh3tCczrX5XmZk-jHn5-rgsx5hXilpofyFjFZRw
TELEGRAM_BOT_TOKEN=8660433386:AAEWe7tQxmC3Ov8YZUDTDxwObCybOpdvFs4
TELEGRAM_ALLOWED_USER_IDS=5894510681
